body {
	color: #083c03;
	background-color : #abe1ff;
	background:url(../img/leaves2.jpg);
  	background-repeat: repeat;
	font-family : arial,helvetica,sans-serif;
	font-size :14px;
}
div.blue-spa-nav {
	background-color: #000000 !important;
	font-size : 14pt;
	border-radius : 20px;
  	width : auto;
}
a {
	color : #ffffff;
}
div.container {
	background-color: #083c03;
	color : #55c4ff;
	border-radius : 10px;
}
.nav-tabs {
  border-bottom: 0px !important;
}
div.blue-spa-main-content {
	background-color : #043921;
	color : #d3d7cf;
	max-width : 75%;
	font-size : 16px;
}
small.blue-spa-small {
	font-size : 16px;
}